<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87489368048-1tdti8lp43oe3auk50i4fss9o8qsd1pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87489368048-1tdti8lp43oe3auk50i4fss9o8qsd1pd</string>
	<key>API_KEY</key>
	<string>AIzaSyDzc0tkU7Zsd3SLvI6vhxb_OqeMUZS1Wgo</string>
	<key>GCM_SENDER_ID</key>
	<string>87489368048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artzapp.firebase</string>
	<key>PROJECT_ID</key>
	<string>artzfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>artzfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87489368048:ios:146ae6fc4c149d5be5d735</string>
	<key>DATABASE_URL</key>
	<string>https://artzfirebase.firebaseio.com</string>
</dict>
</plist>